@font-face {
    font-family: "Segoe WP";
    src: url(./assets/fonts/SegoeWP.ttf) format('truetype');
  }

  @font-face {
    font-family: "SegoeWP-light";
    src: url(./assets/fonts/segoe-wp-light.ttf) format('truetype');
  }

@font-face {
    font-family: "PT Sans";
    src: url(./assets/fonts/PTS55F.ttf) format('truetype');
  }

  @font-face {
    font-family: "PT Sans Narrow";
    src: url(./assets/fonts/PTN57F.ttf) format('truetype');
  }
  
  @font-face {
    font-family: "Open Sans";
    src: url(./assets/fonts/OpenSans-Regular.ttf) format('truetype');
  }
body {
    background-image: url("./assets/images/header_background.png");
    background-repeat: no-repeat;
    
}

.wrapper {
    width: 1020px;
    height: 1848px;
}

.header {
    width: 1300px;
    height: 165px;
    display: flex;
    justify-content: space-between;
   
}

.logo-header {
    display: flex; 
}

.logo-header img {
   width: 83px;
   height: 83px;
   margin: 28px 6px 0px 140px;
   border-radius: 13px;
   background-image: url("./assets/images/logo_background.png");
   background-size: 79px 79px;
   background-position-x: 2px;
   background-position-y: 2px;
   background-repeat: no-repeat;
  

}

.logo-header h2 {
   width: 225px;
   margin-top: 55px;
   font-size: 41px;
   color: #ffffff;
   font-family: "Lucida Sans",'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-style: italic;
   text-transform: uppercase; 
  
}

.navbar  ul  {
    width: 453px;
    height: 41px;
    display: flex;
    margin: 71px 140px 0px 0px;
    box-shadow: -4px -5px 0px 0px rgba(245,197,7,0.27),-8px -8px 0px 0px rgba(245,197,7,0.27);

}

.navbar ul li a {
    width: 150px;
    height: 41px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: "Segoe WP";
    font-size: 17px;
    text-transform: uppercase; 
    color: #9b7d08;
    background-color: #f5c506;
    text-decoration: none;
}

.navbar ul li a img {
    margin-right: 9px;
}

.navbar ul li {
    border-left: 1px solid #dcb105;
}

 .navbar ul li:first-child {
    border: none;
}

.main {
    width: 1300px;
    height: 401px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.main h1 {
    font-size: 63px;
    letter-spacing: 1px;
    line-height: 78px;
    color: #f5c506;
    font-family: "Asap";
    font-weight: 400;
    text-align: center;
    text-transform: uppercase; 
}

.main video {
    width: 549px;
    height: 327px;
    margin: 2px 0px 71px 34px;
}

.main h1 span {
    color:#ffffff;
}

.main button:first-child {
    width: 32px;
    height: 57px;
    display: flex;
    justify-content: center;
    border: none;
    background-color: #f5c506;
    opacity: 0.71;
}

.main button:last-child {
    width: 32px;
    height: 57px;
    display: flex;
    justify-content: center;
    text-align: center;
    border: none;
    background-color: #f5c506;
}

.wrapper-section-1 {
    width: 1300px;
    height: 212px;
    background-image: url("./assets/images/background-section1.png");
    background-size: cover;
    box-shadow: 0px -4px 2px 0px rgba(0,0,0,0.2);
   
}

.section-1 {
    width: 1020px;
    height: 212px;
    margin-left: 140px;
    display: flex;
   }

.section-1 div {
    width: 300px;
    height: 212px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border-right: 1px solid #d4d4d4;
}

.section-1 div:first-child  {
    border-left: 1px solid #d4d4d4;
}

.section-1 div:first-child img {
    margin: 33px 4px 0px 0px;
   
}

.section-1 div:first-child p {
    line-height: 52px;
    margin-left: 16px;
   
}

.section-1 div p {
    font-size: 27px;
    letter-spacing: 0px;
    color: #000000;
    font-family: "Segoe UI",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase; 
  
}

.section-2 {
    width: 1300px;
    height: 509px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./assets/images/background-section2.png");
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.9);
}

.section-2 h2 {
    height: 28px;
    position: absolute;
    margin: -205px 0px 0px -254px;
    font-family: "PT Sans";
    font-weight: 400;
    font-size: 37px;
    color: #ffffff;
    text-transform: uppercase; 
}

.section-2 div h3 {
    width: 272px;
    height: 174px;
    margin-left: -11px;
    font-size: 29px;
    line-height: 38px;
    color: #ffffff;
    font-family: "SegoeWP-light";
    font-weight: 300px;
}

.section-2 div:nth-of-type(1) {
    width: 341px;
    height: 233px;
    margin: 110px 0px 166px -2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ec9e03;

}

.section-2 div:nth-of-type(1) img {
    margin: 18px 0px 0px 301px;
}

.section-2 div:nth-of-type(2) {
    width: 315px;
    height: 232px;
    margin: 0px 0px 57px 0px;
}

.section-2 div:nth-of-type(3) {
    width: 329px;
    height: 233px;
    display: flex;
    margin: 0px 0px 57px 33px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ec9e03;
}

.section-2 div:nth-of-type(3) p {
    position: absolute;
    margin: -88px 0px 0px 134px;
    font-size: 25px;
    line-height: 38px;
    color: #ffffff;
    font-family: "Segoe WP";
    font-weight: 300;
}

.section-2 div:nth-of-type(3) img {
    margin: 41px 0px 0px -7px;
}

.section-2 div:nth-of-type(3) img:last-child {
    margin: 98px 0px 0px 150px;
    position: absolute;
}

.section-2 div:nth-of-type(4) {
    width: 113px;
    height: 86px;
    margin: 130px 0px 0px -454px;
    display: flex;
    flex-direction: column;
    position:absolute;
    background-image: url("./assets/images/background_data.png")
}

.section-2 div:nth-of-type(4) h4 {
    margin: 13px 0px 0px 29px;
    font-size: 51px;
    letter-spacing: 1px;
    line-height: 38px;
    color: #ffffff;
    font-family: "Segoe UI";
    font-weight: bold;
}

.section-2 div:nth-of-type(4) p {
    margin-left: 32px;
    font-size: 21px;
    line-height: 38px;
    color: #b26529;
    font-family: "Segoe UI";
    text-transform: uppercase; 
}

.section-2 div:nth-of-type(5)  {
    width: 896px;
    height: 15px;
    margin-top: 225px;
    margin-left: 11px;
    display: flex;
    position: absolute;
    background-image: url(./assets/images/polsun.png);
}

.section-2 div:nth-of-type(5) img {
    display: flex;
    position: absolute;
    margin: -2px 0px 0px 245px;
}

.section-3 {
    width: 1300px;
    height: 499px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("./assets/images/background_section-3.png")
}

 .section-3 div:nth-of-type(1) {
    width: 601px;
    height: 47px;
    position: absolute;
    margin: -184px 0px 139px 351px;
 }

.section-3 div h2 {
    width: 601px;
    height: 32px;
    font-size: 43px;
    letter-spacing: 0px;
    color: #f5c506;
    font-family: "PT Sans";
    font-weight: 400;
    text-transform: uppercase; 
}

.section-3 div:nth-of-type(2) {
    width: 116px;
    height: 116px;
    margin: -99px 0px 0px 138px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/images/background_I\'ts_\ free.png");
   
 }

 .section-3 div:nth-of-type(2) p {
    width: 105px;
    height: 14px;
    margin: 0px 0px 0px 6px;
    font-size: 19px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "PT Sans Narrow";
    font-weight: 700;
    text-transform: uppercase; 
 }

 
 .section-3 div:nth-of-type(3) {
    margin: 30px 0px 0px 157px;
   
 }

 .section-3 div:nth-of-type(4) {
    margin: 33px 1px 0px 0px;
 }

 .section-3 div:nth-of-type(5) {
    margin: 143px 76px 0px 0px;
 }
 
 .section-3 div:nth-of-type(6) ul {
    width: 354px;
    height: 45px;
    margin: 0px 147px 90px 0px;
    font-size: 22px;
    letter-spacing: 0px;
    color: #a9a9a7;
    font-family: "Open Sans";
    font-weight: 400;
    list-style-image: url("./assets/images/li.png");
 }

 .section-3 div:nth-of-type(6) ul li:nth-of-type(1) {
    padding: 0px 0px 26px 13px;
 }

 .section-3 div:nth-of-type(6) ul li:nth-of-type(2) {
    padding-left: 13px;
    padding-bottom: 23px;
 }

 .section-3 div:nth-of-type(6) ul li:nth-of-type(3) {
    padding-left: 13px;
    padding-bottom: 29px;
 }

 .section-3 div:nth-of-type(6) ul li:nth-of-type(4) {
    padding-left: 13px;
 }

 .footer {
     width: 1300px;
     height: 65px;
     margin-top: -3px;
     display: flex;
     box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.5);
     background-image: url("./assets/images/background_footer.png")
 }

 .footer img {
     width: 54px;
     height: 54px;
     margin: 6px 0px 0px 140px;
     border-radius: 9px;
     background-image: url("./assets/images/background_logo_footer.png");
     background-repeat: no-repeat;
     background-position-x: 1px;
     background-position-y: 1px;
 }

 .footer h2 {
    margin: 19px 0px 0px 6px;
    font-size: 29px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "Lucida Sans";
    font-style: italic;
    text-align: center;
    text-transform: uppercase; 
   
 }